{{define "field" -}}
<div title="{{.Key}} {{.M.Datentyp}}">
    <label>{{.M.Feldbezeichnung}}:</label>
    {{template "value" .}}
</div>
<div style="display: none;">
    <i>{{.M}}</i>
</div>
{{- end}}


{{define "value" -}}
    {{if eq .M.Datentyp "CKennzeichen" -}}
        <span title="internal: {{.Value}}"><b>{{.Text}}</b></span>
        [{{range .M.KeyTextList}} {{.Ordnungsnummer}}-{{.Text}} {{end}}]

    {{else if eq .M.Datentyp "CFIBUKonto" -}}
        <span title="internal: {{.Value}}" ><b>{{.Text}}</b></span>
        in accounting system

    {{else if eq .M.Datentyp "CId" -}}
        <a href=".?key={{.M.target}}&id={{.Value}}" ><b>{{.Text}}</b></a>

        {{else -}}
        <span title="internal: {{.Value}}" ><b>{{.Text}}</b></span>

    {{end -}}
{{- end}}