{{define "listview" -}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.5/jszip.min.js"></script>

    {{/* see https://js.devexpress.com/Documentation/18_2/Guide/Common/Localization/#Localize_Dates_Numbers_and_Currencies/Using_Globalize */}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- ... -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cldrjs/0.5.0/cldr.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cldrjs/0.5.0/cldr/event.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cldrjs/0.5.0/cldr/supplemental.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/globalize/1.3.0/globalize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/globalize/1.3.0/globalize/message.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/globalize/1.3.0/globalize/number.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/globalize/1.3.0/globalize/currency.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/globalize/1.3.0/globalize/date.min.js"></script>
    <!-- DevExtreme library -->
    <script src="https://cdn3.devexpress.com/jslib/18.2.11/js/dx.all.js"></script>
    <!-- Dictionary files for German and Russian languages -->
    <script src="https://cdn3.devexpress.com/jslib/18.2.11/js/localization/dx.messages.de.js"></script>
    <script src="https://cdn3.devexpress.com/jslib/18.2.11/js/localization/dx.messages.ru.js"></script>
    <!-- Common and language-specific CLDR data -->
    <script src="https://unpkg.com/devextreme-cldr-data/supplemental.js"></script>
    <script src="https://unpkg.com/devextreme-cldr-data/de.js"></script>
    
    <link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/18.2.11/css/dx.common.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/18.2.11/css/dx.light.compact.css" />

    <title>Show a list of data Items within a client side grid</title>

    <script>
        function isNotEmpty(value) {
            return value !== undefined && value !== null && value !== "";
        }

        var base = "/ui/item/?key={{.Response.TableName}}&id=" // /ui/item/?key=ADPerson&id=ANID
        var iconuri = "/api/icon/3/{{.Response.TableName}}.png"
    </script>

    <script>
        // see https://js.devexpress.com/Documentation/Guide/Getting_Started/Installation/CDN_Services/ for the client side grid
        // see https://js.devexpress.com/Demos/WidgetsGallery/Demo/DataGrid/Overview/jQuery/Light/
        console.log({ NL: navigator.language, NBL: navigator.browserLanguage });
        DevExpress.localization.locale(navigator.language || navigator.browserLanguage);

        var onSelectionChanged = function (selectedItems) {
            var row = selectedItems.selectedRowsData[0];
            console.log(row);
        };
        var onOptionChanged = function(e) {
            // https://js.devexpress.com/Documentation/ApiReference/UI_Widgets/dxDataGrid/Configuration/#onOptionChanged
            // console.log(e);
            if (e.value && !e.previousValue && e.fullName.match(/\.visible$/)) {
                $("#gridContainer").dxDataGrid("refresh")
            }
        };

        // number formats for use in metadxgrid
        var fmt = {
            n2: { type: "fixedPoint", precision: 2 },
            n0: { type: "fixedPoint", precision: 0 },
            p2: { type: "percent", precision: 2 }, // TODO: percent 2
            p4: { type: "percent", precision: 4 }, // TODO: percent 4
            do: "dd.MM.yyyy", // date only
            dt: "dd.MM.yyyy HH:mm", // date time
        }

        var gridColumns = [
            {
                caption: "{{.Response.Singular}}",
                dataField: "{{.Response.PKName}}",
                allowExporting: false,
                allowFiltering: false,
                allowGrouping: false,
                allowHeaderFiltering: false,
                allowHiding: false,
                allowSearch: false,
                allowSorting: false,
                cellTemplate: function (element, info) {
                    var id = info.row.data["{{.Response.PKName}}"];
                    var div = $("<div></div>");
                    element.append(div);

                    var a = $("<a></a>");
                    a.attr("href", (base + id));
                    a.text("Öffnen");
                    div.append(a);

                    var img = $('<img style="vertical-align: middle; border: none; margin-right: 3px;" />');
                    img.attr("src", iconuri);
                    a.prepend(img);
                }
            }
            {{ range $k, $v:= .Response.Fields -}}
                {{ if isField $k -}}
                    {{ template "metadxgrid" dm $.Response.Fields $k -}}
                {{end -}}
            {{end -}}
        ];
        for(var i = 1; i < 5; i++) {
            gridColumns[i].visible = true;
        }

        { {/* http://localhost:9000/api/querylist/ADPerson/?skip=0&take=15&requireTotalCount=true */ } }
        var uri = "/api/querylist/{{.Response.TableName}}"; // TODO: this URI must be adapted for master-detail, pre-filtered, selection and subtype aware lists
        var griddatasource = new DevExpress.data.DataSource({
            key: "{{.Response.PKName}}",
            load: function (loadOptions) {
                var d = $.Deferred();
                var params = {};
                [
                    "skip",
                    "take",
                    "requireTotalCount",
                    "requireGroupCount",
                    "sort",
                    "filter",
                    "totalSummary",
                    "group",
                    "groupSummary"
                ].forEach(function (i) {
                    if (i in loadOptions && isNotEmpty(loadOptions[i]))
                        params[i] = JSON.stringify(loadOptions[i]);
                });
                fields = [];
                var cols = $("#gridContainer").dxDataGrid("getVisibleColumns");
                cols.forEach(function(c) {
                    if (c.dataField) {
                        fields.push(c.dataField);
                    }
                });
                params.fields = JSON.stringify(fields);
                $.getJSON(uri, params)
                    .done(function (result) {
                        if ($.isArray(result)) {
                            d.resolve(result, {
                                totalCount: null,
                                summary: null,
                                groupCount: null
                            });
                            return;
                        }
                        d.resolve(result.Data, {
                            totalCount: result.Count,
                            summary: result.summary,
                            groupCount: result.groupCount
                        });
                    })
                    .fail(function(error) {
                        d.reject(error.responseText);
                    });
                return d.promise();
            }
        });

        // customizable defaults for the grid:
        var gridSettings = {
            columns: gridColumns,
            dataSource: griddatasource,
            remoteOperations: true,
            columnChooser: { 
                enabled: true, 
                mode: "select" 
            },
            allowColumnReordering: true,
            sorting: { mode: 'multiple' },
            groupPanel: { visible: true, emptyPanelText: 'Drag a column header here to group records' },
            paging: { pageSize: 15 },
            pager: {
                visible: true,
                showPageSizeSelector: true,
                allowedPageSizes: [15, 25, 50, 100]
            },
            filterRow: { visible: true },
            searchPanel: { visible: true },
            selection: { mode: 'single' },
            rowAlternationEnabled: true,
            export: { 
                enabled: true,
                fileName: "{{.Response.Plural}}",
                excelFilterEnabled: true,
                excelWrapTextEnabled: true,
            },
            // event handlers
            onSelectionChanged: onSelectionChanged,
            onOptionChanged : onOptionChanged,
        };

        $(function () {
            $("#gridContainer").dxDataGrid(gridSettings);
        });

    </script>

    <script>
        var mrudatasource = new DevExpress.data.DataSource({
            key: "mruid",
            load: function (loadOptions) {
                var d = $.Deferred();
                var uri = "/api/querymru/{{.Response.TableName}}";
                var params = {};
                $.getJSON(uri, params)
                    .done(function (result) {
                        d.resolve(result.Data, {});
                    })
                    .fail(function(error) {
                        d.reject(error.responseText);
                    });
                return d.promise();
            }
        });

        var mruSettings = {
            dataSource: mrudatasource,
            height: 200,
            baseItemHeight: 80,
            baseItemWidth: 120,
            itemMargin: 5,
            direction: "horizontal",
            itemTemplate: function (itemData, itemIndex, itemElement) {
                var id = itemData.mruid;
                var div = $("<div></div>");
                div.attr("style", "padding: 0.5rem;")
                itemElement.append(div);

                var a = $("<div></div>");
                a.attr("title", (base + id));
                a.text(itemData.displayname);
                div.append(a);

                var img = $('<img style="vertical-align: middle; border: none; margin-right: 3px;" />');
                img.attr("src", iconuri);
                a.prepend(img);
            },
            onItemClick: function(e) {
                // https://js.devexpress.com/Documentation/ApiReference/UI_Widgets/dxTileView/Configuration/#onItemClick
                var id = e.itemData.mruid;
                window.location.href = (base + id);
            },
        };

        $(function() {
            // https://js.devexpress.com/Documentation/Guide/Widgets/TileView/Overview/
            $("#mruContainer").dxTileView(mruSettings);
        })
    </script>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h2>Zuletzt verwendete {{.Response.Plural}}</h2>
                <div style="margin: 0 auto;" id="mruContainer"></div>
                <h2>Alle {{.Response.Plural}}</h2>
                <div style="margin: 0 auto;" id="gridContainer"></div>

                <h2>All Data Fields</h2>
                <p>
                    TableName: {{.Response.TableName}}, PK: {{.Response.PKName}}, DB: {{.Response.Database}}
                </p>
                <p>See also their tooltip for more information</p>
                {{range $k, $v := .Response.Fields -}}{{if isField $k -}}
                <div style="font-size: small;">
                    {{template "metafield" dm $.Response.Fields $k}}
                </div>
                {{- end}}{{- end}}
            </div>
        </div>
    </div>
</body>

</html>
{{- end}}