{{define "queryitem" -}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Show a single data item</title>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h2><img src="/api/icon/5/{{.Response.Key}}.png"/> {{.Response.Display}}</h2>
                <dl>
                    <dt>Key</dt>
                    <dd>{{.Response.Key}}</dd>
                </dl>
                <dl>
                    <dt>Singular</dt>
                    <dd>{{.Response.Singular}}</dd>
                </dl>
                <dl>
                    <dt>Plural</dt>
                    <dd>{{.Response.Plural}}</dd>
                </dl>
            </div>
            <div class="col">
                <h2>{{.Response.Log.ID}} &ndash; {{.Response.Log.KurzesProtokoll}}</h2>
                <pre>{{.Response.Log.LangesProtokoll}}</pre>                
            </div>
        </div>

        <div class="row">
            <div class="col">
                <h2>Felder</h2>
                {{range $k, $v := .Response.Fields -}}
                    {{if isField $k -}}
                        {{template "field" dm $.Response.Fields $k}}
                    {{- end}}
                {{- end}}
            </div>
        </div>
    </div>
</body>

</html>
{{- end}}